* {
  box-sizing: border-box;
}
body {
  font-family: 'Palanquin', sans-serif;
  line-height: 1.618em;
  background: #3498db;
  color: #fff;
}
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 5rem auto;
  text-align: center;
}
h1.loading {
  font-size: 3em;
  font-weight: 400;
}